@{
    Layout = null;
}


<li class="nav-item">
    <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
        <i class="fa fa-home menu-icon"></i>
        <span class="menu-title">Dashboard</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="Order" asp-action="Create">
        <i class="fa fa-plus menu-icon"></i>
        <span class="menu-title">Create New Order</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="Order" asp-action="Index">
        <i class="fa fa-user menu-icon"></i>
        <span class="menu-title">My Orders</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="Administration" asp-action="ListUsers">
        <i class="fa fa-user menu-icon"></i>
        <span class="menu-title">All Users</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="Administration" asp-action="ListRoles">
        <i class="fa fa-user menu-icon"></i>
        <span class="menu-title">All Roles</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="far fa-file-alt menu-icon"></i>
        <span class="menu-title">Documentation</span>
    </a>
</li>


