
@{
    ViewData["Title"] = "How";
}

<!-- slider-start -->
<div class="slider-area">
    <div class="page-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center" style="background-image: url(../img/bg/others_bg.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h1 class="white-color f-700">How it Works</h1>
                            <nav class="text-center" aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">How it Works</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-end -->

<div class="course-details-area gray-bg pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="blog-wrapper blog-list blog-details blue-blog mb-50">
                        @*<div class="blog-thumb mb-35">
                            <img src="img/blog/news_details_thumb_01.jpg" alt="">
                            <span class="blog-text-offer">news</span>
                        </div>*@
                        <div class="blog-content news-content">
                            @*<div class="blog-meta news-meta">
                                <span>Auguest 25, 2018</span>
                            </div>*@
                            <h5>How it works</h5>
                            <br/>
                            <p>We provide assignment example drafts for model learning, in all faculties and institutions, written and quality-controlled by expert graduates.</p>
                            <br/>
                            <p>Terms and Conditions of Fair Use Apply. By using this service, you consent to comply with all Terms and Conditions of Fair use.</p>
                            <br/>
                            <p>Clients must develop their own original work with the guidance of our services and clients are solely responsible for marks awarded to them. Our service is education technology and may only be used for research, reference and model-learning purposes only, not to commit plagiarism.</p>
                            <br/>
                            <p>The service provider legally and ethically prohibits plagiarism and will not be held liable in the case of disciplinary action, lawsuit or any legal dispute of academic dishonesty by our clients.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- end news-details-->