@{
    ViewData["Title"] = "Home Page";
}

 <!-- slider-start -->
    <div class="slider-area pos-relative">
        <div class="slider-active">
            <div class="single-slider slider-height d-flex align-items-center justify-content-center" style="background-image: url(../img/slider/slider_bg_1.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-md-12">
                            <div class="slider-content slider-content-2">
                                <h1 class="white-color f-700" data-animation="fadeInUp" data-delay=".2s"><span>Admition Going On</span><br>Eduara University</h1>
                                <p data-animation="fadeInUp" data-delay=".4s">Sorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua enim ad minime.</p>
                                <a class="theme-btn" data-animation="fadeInUp" data-delay=".6s" href="/Account/Register/0"><span class="btn-text">Order Now</span></a>
                                <a class="theme-btn" data-animation="fadeInUp" data-delay=".6s" href="/Account/Register/1" ><span class="btn-text">Become an Assignment Writer</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-height d-flex align-items-center justify-content-center" style="background-image: url(../img/slider/2.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-md-12 offset-xl-2">
                            <div class="slider-content slider-content-2 text-center">
                                <h1 class="white-color f-700" data-animation="fadeInUp" data-delay=".2s"><span>Admition Going On</span><br>Eduara University</h1>
                                <p data-animation="fadeInUp" data-delay=".4s">Sorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua enim ad minime.</p>
                                <a class="theme-btn" data-animation="fadeInUp" data-delay=".6s" href="../Views/Account/Register/0"><span class="btn-text">Order Now</span></a>
                                <a class="theme-btn" data-animation="fadeInUp" data-delay=".6s" href="../Views/Account/Register/1" ><span class="btn-text">Become an Assignment Writer</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-height d-flex align-items-center justify-content-center" style="background-image: url(../img/slider/3.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-md-12">
                            <div class="slider-content slider-content-2">
                                <h1 class="white-color f-700" data-animation="fadeInUp" data-delay=".2s"><span>Admition Going On</span><br>Eduara University</h1>
                                <p data-animation="fadeInUp" data-delay=".4s">Sorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua enim ad minime.</p>
                                <a class="theme-btn" data-animation="fadeInUp" data-delay=".6s" href="../Views/Account/Register/0"><span class="btn-text">Order Now</span></a>
                                <a class="theme-btn" data-animation="fadeInUp" data-delay=".6s" href="../Views/Account/Register/1" ><span class="btn-text">Become an Assignment Writer</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider-end -->
    <!-- about start -->