@{
    ViewData["Title"] = "Privacy Policy";
}
<!-- slider-start -->
<div class="slider-area">
    <div class="page-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center" style="background-image: url(../img/bg/others_bg.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h1 class="white-color f-700">Terms & Conditions</h1>
                            <nav class="text-center" aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Terms & Conditions</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-end -->

<div class="course-details-area gray-bg pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="blog-wrapper blog-list blog-details blue-blog mb-50">
                        @*<div class="blog-thumb mb-35">
                            <img src="img/blog/news_details_thumb_01.jpg" alt="">
                            <span class="blog-text-offer">news</span>
                        </div>*@
                        <div class="blog-content news-content">
                            @*<div class="blog-meta news-meta">
                                <span>Auguest 25, 2018</span>
                            </div>*@
                            <h5>Terms and Conditions of Fair Use</h5>
                            <br/>
                            <h6>These Terms and Conditions of Fair Use serve to govern the relations between you (the “client”) and us (REALSOURCE (Pty) Ltd, herein referred to as the “Company”). These Terms and Conditions of Fair Use will be applied fully pertaining to the client’s use of this service provider to prevent plagiarism and abuse of the Company’s service. By using our service, you, the client, agree to accept all Terms and Conditions of Fair Use written in here. You, the client, must not use this service if you disagree with any of these Terms and Conditions of Service contained in here.</h6>
                            <br/>
                            <ul>
                                <li>I. These Terms and Conditions of Fair Use stand to confirm that the Company prohibits plagiarism and that it will not be held liable for clients who commit plagiarism.</li>
                                <li>II. By using our service, the client is consenting to this agreement, and the client gives effect to the consensus that the Company will not be held liable to represent or take responsibility or show sympathies for any client who commits plagiarism, to the negation of the legal and ethical standards of both the Company and the client’s institution of learning.</li>
                                <li>III. This consensus includes a case whereby a disciplinary action, lawsuit or any dispute had been lodged against a client, whether internally or externally, by their learning institution or another entity.</li>
                                <li>IV. Checks and balances are put in place via security measures to prevent plagiarism, namely a plagiarism checker and anti-plagiarism watermark.</li>
                                <li>V. The client may not temper with the watermark or falsify our service in order to commit plagiarism.</li>
                                <li>VI. The client is to only benefit from our research, writing structure and syntax</li>
                                <li>VII. The Company develops originally crafted papers as assignment example drafts to be used as models, in the principle of learning through the use of pragmatic examples.</li>
                                <li>VIII. The Company encourage clients to rewrite, paraphrase or restructure their own original papers in guidance with the research of the assignment example draft.</li>
                                <li>IX. Plagiarism of the Company’s provided assignment example draft is strictly prohibited.</li>
                                <li>X. The Company reserves the right to not process a client’s order and to deregister any client who violates these Terms and Conditions of Fair Use.</li>
                                <li>XI. The client shall settle the account before receiving their order.</li>
                                <li>XII. Prices are hereby per page and factors deadline, workload, quality of academic writing and availability of writing staff.</li>
                                <li>XIII. The Company uses 12-point font size and 1.5 spacing and one page is composed of an average of 350 words.</li>
                                <li>XIV. The Company reserves the right to keep all the transactional data as an intellectual property of the Company in line with its interests.</li>
                                <li>XV. The Company will not be held liable for marks awarded on papers, pass or fail, but if fail, the Company shall rate down the performance of the contracted Assignment Writer for de-prioritization or termination.</li>
                                <li>XVI. If you the client cancel an order after an hour, a non-refundable 30% is forfeited; if cancelled within 59 minutes, 90% refund will be issued.</li>
                                <li>XVII. The Company reserves the right to amend this agreement from time to time.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- end news-details-->
